            <!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="~/clients/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="#" class="d-block">Alexander Pierce</a>
        </div>
    </div>


    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a asp-controller="Category" asp-action="Index" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Danh Mục
                    </p>
                </a>
@*                 <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="../../index.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Dashboard v1</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../../index2.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Dashboard v2</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="../../index3.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Dashboard v3</p>
                        </a>
                    </li>
                </ul>
 *@            </li>
            <li class="nav-item">
                <a asp-controller="News" asp-action="Index" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Tin Tức
                        @* <span class="right badge badge-danger">New</span> *@
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Posts" asp-action="Index" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Bài Viết
                        @* <span class="right badge badge-danger">New</span> *@
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a asp-controller="Order" asp-action="Index" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Quản lý đơn hàng
                        @* <span class="right badge badge-danger">New</span> *@
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/news" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Quảng Cáo
                        @* <span class="right badge badge-danger">New</span> *@
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Quản Lý Sản Phẩm
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                                <ul class="nav nav-treeview">
                <li class="nav-item">
                        <a asp-controller="ProductCategory" asp-action="Index" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Danh Mục Sản Phẩm</p>
                </a>
                </li>
                <li class="nav-item">
                <a asp-controller="Products" asp-action="Index" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Sản Phẩm</p>
                </a>
                </li>
                </ul>
               
            </li>
            <li class="nav-item">
                <a href="/news" class="nav-link">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Cấu Hình Hệ Thống
                        @* <span class="right badge badge-danger">New</span> *@
                    </p>
                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->
