@using System.Security.Claims
@model Shop_Bear.Models.EF.Order
@{
	ViewData["Title"] = "Thanh toán";
}

<link rel="stylesheet" type="text/css" href="~/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/assets/styles/categories_responsive.css">

<div class="container product_section_container">
	<div class="row">
		<div class="col product_section clearfix">

			<!-- Breadcrumbs -->

			<div class="breadcrumbs d-flex flex-row align-items-center">
				<ul>
					<li><a asp-controller="Home">Home</a></li>
					<li class="active"><a href="index.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Giỏ Hàng</a></li>
				</ul>
			</div>

			<!-- Main Content -->
			<div class="row">
				<div class="col-md-12 text-center">
					<h1>Thanh toán</h1>
					<p>Kiểm tra lại thông tin đơn hàng</p>
				</div>

			</div>
			<hr />
			<div class="row">
				<div class="col-md-12">
					<h3>Thông tin khách hàng</h3>
					<form asp-action="CheckOut" enctype="multipart/form-data">
					<div class="form-group">
						<label>Họ và tên khách hàng</label>
						<input asp-for="CustomerName" class="form-control" />
						<span asp-validation-for="CustomerName" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label>Số điện thoại</label>
						<input asp-for="Phone" class="form-control" />
						<span asp-validation-for="Phone" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label>Email</label>
						<input value="@User.FindFirstValue(ClaimTypes.Email)" asp-for="Email" class="form-control">
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label>Địa chỉ</label>
						<input asp-for="Address" class="form-control" />
						<span asp-validation-for="Address" class="text-danger"></span>
					</div>
						<div class="form-group">
							<label>Tổng tiền</label>
							
						</div>
					<div class="form-group">
						<label>Phương thức thanh toán</label>
						<select class="form-control" name="TypePayment" asp-for="TypePayment">
							<option value="1" selected>COD</option>
							<option value="2">Chuyển khoản</option>
						</select>
					</div>

					<div class="form-group">
						<button type="submit" class="btn btn-block btn-success">Đặt hàng</button>
					 </div>
					</form>
				</div>

			</div>
		</div>
	</div>
</div>
@section Scripts {
	<script src="~/assets/js/categories_custom.js"></script>
}



