@model IEnumerable<Shop_Bear.Models.ViewModels.StatisticalViewModel>
@{
    ViewData["Title"] = "Thống kê";
}
<h2 class="text-center">Thống kê doanh thu</h2>

<div class="table-container" style="padding: 0.5cm;">
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Ngày</th>
                    <th scope="col">Doanh thu (VNĐ)</th>
                    <th scope="col">Lợi nhuận (VNĐ)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Date.ToString("dd/MM/yyyy")</td>
                        <td>@item.DoanhThu</td>
                        <td>@item.LoiNhuan</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
