@model IEnumerable<Shop_Bear.Models.EF.ProductCategory>
@if (Model != null && Model.Any())
{
				@foreach(var item in Model)
				{
					<li><a asp-controller="Products" asp-action="ProductCategory" asp-route-Alias="@item.Alias">@item.Title</a></li>
				}
}
