@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/assets/styles/main_styles.css">

<link rel="stylesheet" type="text/css" href="~/assets/styles/style.css">
<!-- Slider -->

<div class="main_slider" style="background-image: url('/assets/images/banner_stor.jpg');">
	<div class="container fill_height">
		<div class="row align-items-center fill_height">
			<div class="col">
				<div class="main_slider_content">
					<h6></h6>
					<h6></h6>
					<br />
					<br />
					<h1>Toys-Shop</h1>
					<div class="red_button shop_now_button"><a asp-controller="Products">shop now</a></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Banner -->
@* @Html.Partial("_MenuProductCategoryPartial")
 *@<!-- New Arrivals -->

<div class="new_arrivals">
	<div class="container">
		@Html.Partial("_MenuArrivalsPartial")
	</div>
</div>

<section class="latest py-lg-4 py-md-3 py-sm-3 py-3">
	<div class="container py-lg-5 py-md-5 py-sm-4 py-3">
		<h3 class="title text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Latest Toys</h3>
		<div class=" img-toy-w3l-top">
		</div>
		<div class="mt-lg-4 mt-3 product-info-img">
			<p>
				Hop for Joy: Our NEW Easter Friends Are Here for Springtime Fun!

			</p>
			<div class="clients_more-buttn">
				<a asp-controller="Products" asp-action="Index">Shop Now</a>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6 img-toy-w3l-left">
				<div class="toys-img-one">
				</div>
				<div class="mt-lg-4 mt-3 product-info-img">
					<p>
						Cool Beans! Mini Beans Friends Bring Huge Amounts of Fun

					</p>
					<div class="clients_more-buttn">
						<a asp-controller="Products" asp-action="Index">Shop Now</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6 img-toy-agile-right">
				<div class="toys-img-one-two">
				</div>
				<div class="mt-lg-4 mt-3 product-info-img">
					<p>
						Explore Everything from Trending Characters to Cuddly Classics
					</p>
					<div class="clients_more-buttn">
						<a asp-controller="Products" asp-action="Index">Shop Now</a>
					</div>
				</div>
				<div class="toys-img-one-three">
				</div>
				<div class="mt-lg-4 mt-3 product-info-img">
					<p>
						Go on Fun Adventures With Disney Winnie the Pooh and Eeyore!
					</p>
					<div class="clients_more-buttn">
						<a asp-controller="Products" asp-action="Index">Shop Now</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!--//Product-view-->
<section class="premium py-lg-4 py-md-3 py-sm-3 py-3">
	<div class="container py-lg-5 py-md-5 py-sm-4 py-3">
		<h3 class="title clr text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Premium Toys</h3>
		<div class="row">
			<div class="col-lg-6 agileits-toys-left"></div>
			<div class="col-lg-6 agileits-toys-right">
				<div class="sub-agile-info-toys">
					<p>
						The plush teddy bear sat on the shelf, its soft fur inviting to touch.
						With its gentle eyes and stitched smile, it held stories of countless cuddles
						and whispered secrets, a steadfast companion in childhood adventures.
					</p>
					<div class="clients_more-buttn">
						<a asp-controller="Products" asp-action="Index" class="mb-0">Shop Now</a>
					</div>
				</div>
			</div>
		</div>
		<div class="row mt-lg-4 mt-md-4 mt-3">
			<div class="col-lg-6 agileits-toys-right">
				<div class="sub-agile-info-toys">
					<p>
						Nestled among colorful toys, the teddy bear stood out with its timeless charm.
						Its plushy embrace offered solace in moments of sadness and joy in times of play. 
						A cherished friend, it shared in laughter and wiped away tears, a symbol of comfort and love.
					</p>
					<div class="clients_more-buttn ">
						<a asp-controller="Products" asp-action="Index" class="mb-0">Shop Now</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6 agileits-toys-left"></div>
		</div>
	</div>
</section>



<!-- Benefit -->

<div class="benefit">
	<div class="container">
		<div class="row benefit_row">
			<div class="col-lg-3 benefit_col">
				<div class="benefit_item d-flex flex-row align-items-center">
					<div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
					<div class="benefit_content">
						<h6>free shipping</h6>
						<p>Suffered Alteration in Some Form</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 benefit_col">
				<div class="benefit_item d-flex flex-row align-items-center">
					<div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
					<div class="benefit_content">
						<h6>cach on delivery</h6>
						<p>The Internet Tend To Repeat</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 benefit_col">
				<div class="benefit_item d-flex flex-row align-items-center">
					<div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
					<div class="benefit_content">
						<h6>45 days return</h6>
						<p>Making it Look Like Readable</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 benefit_col">
				<div class="benefit_item d-flex flex-row align-items-center">
					<div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
					<div class="benefit_content">
						<h6>opening all week</h6>
						<p>8AM - 5PM</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Blogs -->
@Html.Partial("_MenuNewsPartial")
