@{
	ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/assets/styles/main_styles.css">

<!-- Slider -->

<div class="main_slider" style="background-image: url('/assets/images/4042.png');">
	<div class="container fill_height">
		<div class="row align-items-center fill_height">
			<div class="col">
				<div class="main_slider_content">
					<h6></h6>
					<h6></h6>
					<br />
					<br />
				</div>
			</div>
		</div>
	</div>
</div>

