@using Microsoft.AspNetCore.Identity;
@using Shop_Bear.Models.EF
@inject SignInManager<AppUser> signInManager
<ul class="navbar-nav"> 
	@if (signInManager.IsSignedIn(User))
	{
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
				@User.Identity!.Name!
			</a>
			
				<li>
					<a class="dropdown-item" asp-action="Logout" asp-controller="Account">
						Logout
					</a>
				</li>
			
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
			<a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
		</li>
	}
</ul>
